body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.qr-code {
    width: 288px;
    border-radius: 10px;
}

h1{
    font-size: 1.375rem;
    margin-top: 1.1em;
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr {
    width: 300px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 15px 10px;
    border-radius: 10px;
}

.attribution {
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%);
}